.logon-container{
  width: 100%;
  max-width: 1120px;
  height: 0 auto; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

